.container_search {
    width: 90%;
    margin: auto;
    justify-content: center;
    text-align: center;
  
  }
  .list {
    list-style:  none;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    color: white ;
    text-align: left;
  
  }
  .input-field {
    padding: 10px ;
    outline:  none;
    border-bottom:  2px solid #333;
    font-size: 20px;
  }
  .list_item {
    background-color: gray;
    padding: 10px;
    margin: 10px;
    width: 45%;
  }